body{
    height: 5000px;
    width: px;
}
 
    
.new{
    position: relative;
    top: 10px;
    left: 10px;
}

.relative{
    position: relative;
    width: 100%;
    margin-left: 100px;
    margin top: 0;
    
  }

  .position{
    position: absolute;
bottom: 200px;
left: 90px;
background-color: white;
width: 440px;
box-shadow: 0 4px 8px 0 rgb(235, 229, 229)   ,     0 6px 20px 0 rgb(233, 222, 222) ; 

  }
  
 .heading{

position: relative;
left: 35px;
}

.img{
    background-color: rgb(236, 234, 234);
    height: 200px;
    margin: 0;
    width: 100%;
    
}

.div{
    display: flex;
justify-content: center;
font-size: small;
color: rgb(137, 135, 135);

position: relative;
top: 50px;
font-size: small;

}

.div2{
    
display: flex;
justify-content: center;
justify-content: space-between;
justify-content: space-around;
position: relative;
top: 50px;


}


.nav{
display: flex;
justify-content: space-between;
    height: 60px;
text-align: center;
align-items: center;
padding: 15px ;
box-shadow: 0 2px 4px rgb(223, 222, 222)  ,   0 4px 12px gray;
z-index: 1010;
position: relative;
text-decoration: ;



}



.bar{
    display: flex;
    justify-content: space-between;
}


.pessnes{
    color: rgb(154, 152, 152);
   position: relative; left: 300px; 
}
.pessnes:hover{
color:rgb(166, 89, 166) ;
}

.تدريسيوديمي{
    color: rgb(154, 152, 152);
    position: relative; left: 90px
}

.تدريسيوديمي:hover{
    color:rgb(166, 89, 166) ;
}




.shopping{
    color: black;
    position: relative;
left: 200px; top: 26px; ;
}
.shopping:hover{
    color:rgb(168, 97, 168) ;
}

.in{
color: white;
background-color: black;
width: 90px;
height: 40px;
font-size: medium;
}


.up{
    color: black;
    background-color: white;
    width: 110px;
    height: 40px;
    position: relative;
    bottom: px;
}
.up:hover{
    background-color:#dadada ;
    
}
.فئات{
    color: rgb(163, 161, 161);
    position: relative; right: 200px;
}

.فئات:hover{
    color: rgb(212, 93, 212)
}

.lang{

    border: solid 2px black;
    width: 40px;
    height: 40px;
color: black;
background-color: white;

}
.lang:hover{
    background-color:#dadada ;
}


.mawada{
    margin-left: 130px;
}

.border1{
    margin-left: 130px;
border : solid 2px rgb(200, 193, 193) ;
height: 550px;
}


.rahma{
color: rgb(158, 158, 158);
display: flex;
justify-content: space-between;
padding right:100px ;
margin-left: 130px;
width: 50%;
}

.python:hover{
    color: black;
}

.but{
    background-color: white;
 border: solid 1px black;
height: 40px;
}

.but:hover{
    background-color: rgb(223, 217, 217);
}


.img2{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    transition: all .5s ease;
}

.scale:hover{
    transform: scale(1.1);
}

.divs{
    display: flex;
    background-color: rgb(246, 246, 246);
  width: 100%;
    margin-left: 0;
    margin-right: 0;
    
    height: 500px;
    

}

.box{
 
    width: 450px;
     border: solid 3px rgb(213, 213, 213) ;
      background-color: white; 
      height: 300px;
      position:  relative;
      top: 100px;
      right: 480px;
 
}

.heading2{
    margin-left: 130px;

}

.الطلابيشاهدون{
    margin-left:130px ;

}


.الصور{
    display: flex;
}
  

.aicon{
    display: flex;
    justify-content:space-around;
    margin: 90px;
    padding: 0;
    transition: all 1s ease;

}

.aicons:hover{
    transform: scale(1.1);
}



.topaicon{
    margin: 110px;
    position: relative;top: 35px;
    font-size: large;
}


.list{display: flex;
    justify-content: space-around;
    width: 70%;
    
}

.move{
    color: blueviolet;
}


.lists{
    position: relative;right: 700px; bottom: 300px;
}

.ul{
font-size: large;
}

.button{

    position: relative; top: 40px; left: 125px;
    background-color: rgb(243, 243, 243);
    height: 40px;

}

.button:hover{
background-color: rgb(214, 210, 210);
}





.relative2{
    position: relative;
    background-color: rgb(237, 237, 237);
    

    position: relative;bottom: 300px;
    height: 620px;
}

.absolute{
    
    background-color: white;
    width: 1000px;
    height: 400px;
    color: gray;
    position: relative;left: 250px;
    position: absolute;
    
    position: relative; top: 100px;
    width: ;
}

.h2{
    color: blueviolet;
    position: relative; bottom: 60px; top: 4px; left: 30px;
}











.green{
    position: relative; bottom: 150px; left: 300px; right: 300px;
    width: 250px;
}

.on{
    padding: 15px;
    background-color: black;
color: white;
font-size: larger;

}

.on:hover{
background-color: rgb(154, 154, 154);
}


.end{
    position: relative; top: 10px;
margin: 30px;
    display:flex ;
    justify-content: space-between;
    width: 50%;
}

.black{
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-size: medium;
}

.black:hover{
    background-color: rgb(72, 72, 72);
}

.wite{
    background-color: white;
    color: rgb(0, 0, 0);
width: 120px;
    height: 50px;
    font-size: 18px;
position: relative; top: 14px; left: 14px;
 border: solid 1px black
 
 
}


.wite:hover{
    background-color: rgb(236, 236, 236);
}




